body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("./assets/bg2.svg");
  background-size: cover;
  background-position: center / center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;

  color: white;
  font-family: Nerko One;
}
